<template>
  <div class="calculator">
    <div class="display">{{ $store.getters.detail || '0' }}</div>
    <div v-on:click="concat('7')" class="btn">7</div>
    <div v-on:click="concat('8')" class="btn">8</div>
    <div v-on:click="concat('9')" class="btn">9</div>
    <div v-on:click="concat('/')" class="btn operator">/</div>
    <div v-on:click="concat('4')" class="btn">4</div>
    <div v-on:click="concat('5')" class="btn">5</div>
    <div v-on:click="concat('6')" class="btn">6</div>
    <div v-on:click="concat('*')" class="btn operator">*</div>
    <div v-on:click="concat('1')" class="btn">1</div>
    <div v-on:click="concat('2')" class="btn">2</div>
    <div v-on:click="concat('3')" class="btn">3</div>
    <div v-on:click="concat('-')" class="btn operator">-</div>
    <div v-on:click="concat('0')" class="zero btn">0</div>
    <div v-on:click="clear" class="btn operator">C</div>
    <div v-on:click="compute" class="btn operator">=</div>
    <div v-on:click="concat('+')" class="btn operator">+</div>
  </div>
</template>

<script>
export default {
  name: 'Counter',
  data() {
    return {
      previous: null,
      current: '',
      operator: null,
      operatorClicked: false,
    }
  },
  methods: {
    concat(value) {
      this.$store.commit('concat',value);
    },
    compute(){
      this.$store.commit('compute');
    },
    clear() {
      this.$store.commit('clear');
    }
  }
}
</script>


<style scoped>
.calculator {
  width: 400px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  font-size: 40px;
}

.display {
  grid-column: 1 / 5;
  background-color: rgb(28, 174, 151);
  color: white;
}

.btn {
  background-color: rgb(171, 196, 113);
  border: 1px solid rgb(228, 228, 228);
}

.operator {
  background-color: rgb(85, 103, 124);
  color: white;
}
</style>
